<h3>Welcome to A Simple Weather App.</h3>
<p>Please pick a city:
  <form action = "/forecast">
    <input name="cityName" id="cityName" type="text" placeholder="City" />
    <input type="submit" />
  </form>
</p>
